#productName{
    font-size: 25px;
    font-weight: bold;
}

#productName p{
    text-align: right;
    font-size: 20px;
    font-weight: initial;
    font-style: italic;
}

#desBtn{
    background-color: #52b453;
}

.waves-effect {
    overflow: visible;
}