<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img [src]="product.imageUrl">
                <span class="card-title">
                    <!-- {{ i + 1 }}: {{ product.name }} -->
                </span>
                <a onclick="M.toast({html: 'Added to Cart!'})" class= "btn tooltipped" data-position="right" data-tooltip="Add to Cart" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i (click)="onAddProductToCart(product)" class="material-icons">add_shopping_cart</i></a>

            </div>

            <div class="card-content" id="productName">{{ product.name }}
                <hr>
                <p> {{ product.price | currency }}</p>
                <a [routerLink]="[product.id]" class="waves-effect waves-light btn-large"><i class="material-icons left">info</i>View Details</a>