<!-- <div class="row"> -->

<div class="col s4">


    <!-- CARD STARTS HERE -->

    <div class="card large card-panel hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" [src]="product.imageUrl">
            <!-- <a onclick="M.toast({html: 'Added to Cart!'})"(click)="onAddProductToCart(product)"</a> -->
        </div>

        <div class="card-content">
            <h6>{{ product.name }}</h6>

            <hr>


            <p class="s1"> {{ product.price | currency }}</p>
            <br>
            <p class="s1"><button id="desBtn"
                    class="text-darken-2 btn-flat waves-effect waves-teal activator">Description</button>
            </p>
            <p>
                <button onclick="M.toast({html: 'Added to Cart!'})" id="cartBtn"
                    class="text-darken-2 btn-flat waves-effect waves-teal" (click)="onAddProductToCart(product)">Add to
                    Cart</button>
            </p>
        </div>



        <!-- THIS IS WHAT DISPLAYS AFTER DESCRIPTION BUTTON IS CLICKED -->



        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ product.name }}<i
                    class="material-icons right">close</i></span>
            <hr>
            <p class="flow-text">{{ product.description }}</p>
        </div>
    </div>


</div>