nav {
    background-color: rgba(27, 41, 56, 0.808);
    margin: 20px;

}





#productName {
    font-size: 25px;
    font-weight: bold;
}

#productName p {
    text-align: right;
    font-size: 20px;
    font-weight: initial;
    font-style: italic;
}

#pageTitle, #searchBox, blockquote {
    color: white;
}

blockquote {
    border-left: 5px solid #52b453;
}

#pageTitle {
    text-align: center;
    margin: 0;
    padding: 40px;
}

#titleBanner {
    background: rgba(10, 10, 10, 0.459);
    height: 300px;
    padding: 50px;
}

#parallax {
    background-image: url("../../assets/images/FFM-Summer-Is-Here-Fresh-Fruits-Vegetables.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;
}

#parallax2 {
    background-image: url("../../assets/images/FarmersMarketBox.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    margin: -100px 100px;
    overflow: auto;
}

.prefix {
    color: white;
}

#searchText {
    font-weight: bold;
    font-size: 20px;
}



#search {
    border: #52b453;
    border-width:5px;
}




@media screen and (max-width: 768px) {
    .wrapper {
        margin: -200px 30px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        margin: -200px auto;
        overflow: auto;
        padding: auto;
    }
}