<nav id="navbar">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="material-icons left" id="storeIcon">store</i>FRISCO FRESH MARKET</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- <li><a href="#" routerLink="/admin" routerLinkActive="link-active">Admin</a></li> -->
            <li><a href="#" routerLink="/products" routerLinkActive="link-active"><i class="material-icons left">home
                    </i>Shop Products</a></li>
            <li><a href="#" routerLink="/cart" routerLinkActive="link-active"><i
                        class="material-icons left">shopping_cart
                    </i>Cart</a></li>
        </ul>
    </div>
</nav>
<!-- <i class="material-icons left" id="storeIcon">store-->