#parallax {
    background-image: url("../../assets/images/produceMarket.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    height: 500px;
    width: 100%;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
}

#pageTitle {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: white;
    font-family: 'Amatic SC', cursive;
}

#purchaseBtn {
    background-color: #52b453;
    float: right;
}

#shopBtn {
    float: left;
    background-color: rgb(112, 7, 7);
}

.btn-container {
    margin: 50px;
    text-align: center;
    /* padding: 0px 20rem; */
}

.btn-flat {
    color: rgb(104, 9, 9);
    font-size: 2.3rem;
}

p {
    color: black;
    font-size: 40px;
}

productName {
    font-size: 20px;
}

.container {
    margin: 0 auto;
}

#cartBanner {
    background: rgba(10, 10, 10, 0.459);
    height: 300px;
    padding: 50px;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.productThumb {
    max-height: 50px;
    max-width: 50px;
}

#emptyCartBox {
    height: 300px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-variant: small-caps;
    background-image: url("../../assets/images/shoppingCartEmpty.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    margin: 0px 0px 0px -20px 0px;
}

#quantityInput {
    max-width: 50px;
    background-color: azure;
    max-height: 30px;
    border-bottom: 1px solid #52b453;
    margin-bottom: 0px;
}

#shopProductsContainer {
    text-align: center;
}

#shopProductsBtn {
    background-color: #52b453;
}

li {
    font-size: 15px;
    font-weight: bold;
}

.card-content {
    clear: both;
    overflow: auto;
    /* background-color: #222e3c; */
}

.flow-text {
    text-align: center;
}

#thankYouText {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}