<div id="parallax">
  <div class="col-md-12 container">
    <div id="cartBanner">
      <h2 id="pageTitle">Welcome To Your Shopping Cart</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row mb-2" *ngIf="cartItems.length > 0">
      <div id="productName" class="col-6">

        <!-- SHOPPING CART LIST TABLE -->
        <div class="container">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">PRODUCTS IN CART</span>
              <hr>
              <table class="highlight centered responsive-table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cartItem of cartItems; let i = index">
                    <td><img class="productThumb" [src]="cartItem.imageUrl"></td>
                    <td>{{ cartItem.name }}</td>
                    <td>
                      <input type="number" min="0" [value]="cartItem.quantity"></td>
                    <td>{{ cartItem.price | currency}}</td>

                    <td>
                      <i (click)="onRemoveProductFromCart(i)" class="material-icons btn-flat">delete_forever</i>

                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="container">
                <ul>
                  <!-- <li>
                    <!-- ADD MOMENT COMPONENT AND PIPE FOR DATE -->
                  <!-- Transaction Date:
                  </li> -->
                  <!-- <hr> -->
                  <li>
                      

                    <!-- Subtotal: {{ subtotal | currency }} -->
                  </li>
                  <hr>
                  <li>
                    Tax: {{ salesTax | currency }}
                  </li>
                  <hr>
                  <li>
                   Import Duty: {{ importDutyTotal | currency }}
                  </li>
                  <hr>
                  <li>
                    Total: {{ total | currency }}
                  </li>
                </ul>
              </div>
            </div>

            <div class="card-action">
              <!--MAKE AN OPTION TO PRINT OR EMAIL -->

              <!-- <div class="row"> -->
                <!-- <div class="col-12"> -->
                  <button id="purchaseBtn" class="btn" (click)="onPurchase()" (click)="onToggleRecieptDisplay()"
                    [disabled]="cartItems.length === 0">Checkout</button>
                  <p class="flow-text">{{infoText}}</p>
                </div>
              <!-- </div> -->
            <!-- </div> -->
          </div>

        </div>
        <!-- <strong *ngIf="cartItems.length > 0">Total: {{ total | currency }}</strong> -->



      </div>
    </div>

  </div>
  <div id="emptyCartBox" class="row" *ngIf="cartItems.length === 0">
    <div class="col-12">
      <!-- Put box here with empty cart picture -->
      <p>No items in cart.</p>
    </div>
  </div>




  <!-- CARD RECIEPT NEED TO ADD WHEN PURCHASE BUTTON CLICKED TO POP UP -->



  <div *ngIf="displayReciept" class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">ORDER RECEIPT</span>
          <table class="highlight">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let cartItem of cartItems; let i = index">
                <td>{{ cartItem.name }}</td>
                <td>{{ cartItem.price | currency}}</td>
                <td>{{ quantity }} </td>
                <!-- <td>{{ quantity }}</td> -->
              </tr>
            </tbody>
          </table>
          <ul>
            <li>
              <!-- ADD MOMENT COMPONENT AND PIPE FOR DATE -->
              Transaction Date:
            </li>
            <hr>
            <li>
              Subtotal:
            </li>
            <hr>
            <li>
              Tax:
            </li>
            <hr>
            <li>
              Total: {{ total | currency }}
            </li>

          </ul>



        </div>
        <div class="card-action">
          <!--MAKE AN OPTION TO PRINT OR EMAIL -->
          <a href="#">Download Reciept</a>
          <a href="#">Print Reciept</a>
        </div>
      </div>
    </div>
  </div>