#parallax {
    background-image: url("../../assets/images/produceMarket.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    height: 500px;
    width: 100%;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
}

#pageTitle {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: white;
}

#purchaseBtn {
    background-color: #52b453;
    float: right;
   /* margin-right: 100px; */

}

#recalcBtn {
   background-color: rgb(146, 5, 5);
   float: left;
   /* margin-left: 100px; */
}

.btn-container {
margin: 50px;
}

.btn-flat {
    color: rgb(146, 5, 5);
}

p {
    color: black;
    font-size: 40px;
}

productName {
    font-size: 20px;
}

.container {
    margin: 0 auto;
   
}

#cartBanner {
    background: rgba(10, 10, 10, 0.459);
    height: 300px;
    padding: 50px;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.productThumb {
    max-height: 50px;
    max-width: 50px;
}

#emptyCartBox {
    height: 300px;
    text-align: center;
}

#quantityInput {
    max-width: 50px;
    background-color: whitesmoke;
    max-height: 30px;
}

li {
    font-size: 15px;
    font-weight: bold;
}

.card-content {
    clear: both;
    overflow: auto;
}

.flow-text {
    text-align: center;
}